<!DOCTYPE html>
<html>
<head>
  <title>Facefrase</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div style="float:right">
<%= "Logado como #{session[:usuario]}" unless session[:usuario].nil? %>
<%= link_to 'Sair', logout_path unless session[:usuario].nil? %>

<%= 'Tu não estás logado' if session[:usuario].nil? %>
<%= link_to 'Login', login_path if session[:usuario].nil? %>
</div>

<h1>FaceFrase</h1>

<h2><%= @titulo %></h2>

<strong><%= flash[:notice] %></strong>

<%= yield %>

<div id="rodape">
    <%= yield :rodape %>
</div>

</body>
</html>
